In [12]:
import sqlite3
import pandas as pd

In [13]:
conn = sqlite3.connect('disabled_facilities.db')

cur = conn.cursor()

result = cur.execute("select * from facilities")

In [14]:
hj = pd.read_sql_query("SELECT * FROM facilities", conn)  #19291

In [15]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19291 entries, 0 to 19290
Data columns (total 9 columns):
id           19291 non-null int64
faclInfId    19291 non-null int64
faclLat      19291 non-null float64
faclLng      19291 non-null float64
faclNm       19291 non-null object
faclTyCd     19291 non-null object
lcMnad       19291 non-null object
wfcltId      19291 non-null object
evalInfo     19291 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 1.3+ MB

In [16]:
hj.describe()

                 id     faclInfId       faclLat       faclLng
count  19291.000000  1.929100e+04  19291.000000  19291.000000
mean    9646.000000  2.000079e+10     37.544164    126.981847
std     5568.976357  1.672809e+09      0.051228      0.088054
min        1.000000  2.300000e+01     37.434421    126.795628
25%     4823.500000  2.014062e+10     37.501604    126.911771
50%     9646.000000  2.014075e+10     37.540456    126.990700
75%    14468.500000  2.014076e+10     37.573826    127.047338
max    19291.000000  2.014076e+10     37.694840    127.178321

In [17]:
hj.rename(columns = {'faclLat':'lat','faclLng':'lon'}, inplace = True)
hj.rename(columns = {'faclNm' : 'place_name','lcMnad':'place_address' }, inplace = True)

In [18]:
hj.columns

Index(['id', 'faclInfId', 'lat', 'lon', 'place_name', 'faclTyCd',
       'place_address', 'wfcltId', 'evalInfo'],
      dtype='object')

In [19]:
hj.drop_duplicates(subset=['lat','lon'],inplace=True)

In [20]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16687 entries, 0 to 19290
Data columns (total 9 columns):
id               16687 non-null int64
faclInfId        16687 non-null int64
lat              16687 non-null float64
lon              16687 non-null float64
place_name       16687 non-null object
faclTyCd         16687 non-null object
place_address    16687 non-null object
wfcltId          16687 non-null object
evalInfo         16687 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 1.3+ MB

In [23]:
hj.columns

Index(['id', 'faclInfId', 'lat', 'lon', 'place_name', 'faclTyCd',
       'place_address', 'wfcltId', 'evalInfo'],
      dtype='object')

In [24]:
hjs = hj[['id','lat','lon','place_name','place_address']]

In [25]:
hjs

,id,lat,lon,place_name,place_address
0,1,37.562726,127.032570,(구)왕십리클리닉빌딩,서울특별시 성동구 왕십리로 333
1,2,37.477987,126.953290,(길성아파트)하이텔하우스,서울특별시 관악구 관악로12길 16
2,3,37.573937,126.983187,(재)대한불교계종유지재단,서울특별시 종로구 우정국로 56
3,4,37.485282,126.931355,(주)관전인베스트먼트,서울특별시 관악구 신림로64길29 (신림동)
4,5,37.490768,126.982048,(주)대광메디텍,서울특별시 동작구 동작대로35길 5
5,6,37.487365,126.953220,(주)동성건설,서울특별시 관악구 은천로35다길16 (봉천동)
6,7,37.544932,126.910696,(주)동아일보사,서울특별시 마포구 토정로 1
7,8,37.470575,126.922342,(주)두산엠에스건설,서울특별시 관악구 난곡로30길54 (신림동)
8,9,37.488558,126.953563,(주)리얼맥스,서울특별시 관악구 은천로35마길8-2 (봉천동)
9,10,37.572472,126.970211,(주)메트로신문사,서울특별시 종로구 경희궁길
10,11,37.524395,127.027960,(주)박정어학원,서울특별시 강남구 논현로 843
11,12,37.527233,127.146785,(주)보점,서울특별시 강동구 진황도로61길 76-16
12,13,37.468918,126.922891,(주)서래건설,서울특별시 관악구 난곡로24다길32 (신림동)
13,14,37.511952,127.035353,(주)서울비젼,서울특별시 강남구 언주로 621
14,15,37.488412,126.942419,(주)성강,서울특별시 관악구 국회단지10길16 (봉천동)
15,16,37.488401,126.941700,(주)성강,서울특별시 관악구 국회단지8길7 (봉천동)
16,17,37.510119,127.113123,(주)승산디앤아이,서울특별시 송파구 오금로 165
17,18,37.476323,126.966224,(주)시아인베스트,서울특별시 관악구 남부순환로1953 (봉천동)
18,19,37.507936,127.023598,(주) 씨머스,서울특별시 강남구 학동로2길 56
19,20,37.484776,126.928646,(주)씨엔에스레지던스,서울특별시 관악구 신림로65길15-8 (신림동)
20,21,37.507362,127.040879,(주)아이 에스 케이,서울특별시 강남구 봉은사로44길 31
21,22,37.504031,127.031522,(주)야놀자,서울특별시 강남구 봉은사로24길 46
22,23,37.496715,127.031890,(주)에도긴,서울특별시 강남구 테헤란로8길 34
23,24,37.502579,127.031517,(주)엠씨피이앤에프,서울특별시 강남구 테헤란로13길 44
24,25,37.476409,126.920772,(주)예림씨에스건설,서울특별시 관악구 법원단지5길63 (신림동)
25,26,37.499494,127.029263,(주)옥스비 학원(유빌딩),서울특별시 강남구 테헤란로5길 11
26,27,37.498657,127.068119,(주)정상에이엘에스(서림상가빌딩),서울특별시 강남구 영동대로 221
27,28,37.484818,126.928081,(주)코람자산산탁,서울특별시 관악구 신림로65길27 (신림동)
28,29,37.485578,126.932046,(주)코람코자산신탁,서울특별시 관악구 신림로66길42 (신림동)
29,30,37.445686,126.903342,(주)툴스텍경복,서울특별시 금천구 시흥대로129 (시흥동)
...,...,...,...,...,...
19256,19257,37.536414,126.851459,힐타운,서울특별시 강서구 강서로18아길 25-4
19257,19258,37.598980,127.103890,힐탑Ⅱ,서울특별시 중랑구 망우로74길 33
19258,19259,37.524494,127.044427,힐탑빌딩,서울특별시 강남구 도산대로67길 1
19259,19260,37.540777,126.966480,힐탑빌라,서울특별시 용산구 백범로77길 61-
19260,19261,37.585304,126.937825,힐탑아파트,서울특별시 서대문구 송죽길 57-4
19261,19262,37.544843,126.847690,힐탑아파트,서울특별시 강서구 까치산로14길 26-13
19262,19263,37.476411,126.904080,힐탑아파트,서울특별시 금천구 문성로 3
19263,19264,37.477200,126.907982,힐탑아파트3차,서울특별시 금천구 문성로3길 64
19264,19265,37.477510,126.908493,힐탑아파트 4차,서울특별시 금천구 문성로3길 74
19265,19266,37.509841,127.030027,힐탑 오피스빌,서울특별시 강남구 논현로121길 33
19266,19267,37.527366,126.850183,힐탑이루미,서울특별시 양천구 은행정로17길 84
19268,19269,37.549393,126.978395,힐튼빌리지2차,서울특별시 용산구 후암로16나길 23
19269,19270,37.466068,126.891741,힐튼쉐어하우스A동,서울특별시 금천구 범안로12길 2-24
19273,19274,37.591566,126.934880,힐튼타운,서울특별시 서대문구 연희로41길 63
19274,19275,37.555455,126.975500,힐튼호텔,서울특별시 중구 소월로 54
19275,19276,37.608707,127.048006,힐하우스,서울특별시 성북구 장월로 26-14
19276,19277,37.493616,127.001117,힐하우스,서울특별시 서초구 동광로46길 7-15
19277,19278,37.448805,126.900761,힐하우스,서울특별시 금천구 시흥대로45길 23
19279,19280,37.585748,127.065921,힐하우스,서울특별시 동대문구 한천로53길 45
19280,19281,37.551479,126.832775,힐하우스,서울특별시 강서구 강서로47라길 37
19281,19282,37.535256,126.826901,힐하우스,서울특별시 양천구 가로공원로56길 37-2
19282,19283,37.600347,126.910721,힐하우스,서울특별시 은평구 갈현로2길 2-8
19283,19284,37.504880,127.022067,힐하우스,서울특별시 서초구 사평대로53길 8
19284,19285,37.584709,127.037135,힐하우스,서울특별시 동대문구 약령서길 147
19285,19286,37.597393,127.012773,힐하우스(16세대),서울특별시 성북구 아리랑로7길 28-1
19286,19287,37.504637,127.042199,힐 헤븐,서울특별시 강남구 언주로 514
19287,19288,37.511869,127.017672,힘멜에듀센터,서울특별시 서초구 신반포로43길 42
19288,19289,37.604771,126.923857,힘찬병원,서울특별시 은평구 서오릉로 45
19289,19290,37.559192,126.840671,힘찬병원,서울특별시 강서구 강서로56길 38
19290,19291,37.463629,127.034580,伯林빌딩,서울특별시 서초구 매헌로 31-3

In [26]:
#df[['lat','lon','faclNm','evalInfo']][(df.lon>126.95300)&(df.lon<126.95330)]

-----

# 영준이 데이터

In [39]:
import sqlite3
import pandas as pd
import numpy as np

In [40]:
main_place =pd.read_csv("main_place.csv",dtype={'lat':str,'lon':str})
main_place[main_place.place_name.str.contains('문일')]

,Unnamed: 0,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [41]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4856 entries, 0 to 4855
Data columns (total 6 columns):
Unnamed: 0       4856 non-null int64
place_name       4856 non-null object
place_address    4856 non-null object
lat              4739 non-null object
lon              4739 non-null object
category         4856 non-null object
dtypes: int64(1), object(5)
memory usage: 227.7+ KB

In [31]:
d = main_place.lat.str.contains("37.4491498",na=False)

In [32]:
main_place[d]

,Unnamed: 0,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [34]:
main_place.columns

Index(['Unnamed: 0', 'place_name', 'place_address', 'lat', 'lon', 'category'], dtype='object')

In [55]:
main_place.rename(columns = {'Unnamed: 0': 'id'}, inplace = True) # id 컬럼으로 이름 주기

In [37]:
# tt = main_place[["lat","lon"]].duplicated(keep=False)
# yj_joongbok =main_place[tt] # 영준씨 중복된 데이터
# yj_joongbok.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 605 entries, 2 to 4826
Data columns (total 6 columns):
id               605 non-null int64
place_name       605 non-null object
place_address    605 non-null object
lat              488 non-null object
lon              488 non-null object
category         605 non-null object
dtypes: int64(1), object(5)
memory usage: 33.1+ KB

In [44]:
yj_joongbok[yj_joongbok.lat.isna()].head(10)

,id,place_name,place_address,lat,lon,category
33,33,고려대학교 노천극장 (화정체육관),서울특별시 성북구 안암동 고려대학교 (안암로 145),NaN,NaN,movie/concerthall
34,34,고려대학교 화정체육관,서울특별시 성북구 안암동 고려대학교 (안암로 145),NaN,NaN,movie/concerthall
35,35,광화문 아트홀,서울특별시 종로구 도서관1길 15 (사직동 284-1),NaN,NaN,movie/concerthall
36,36,국립국악원,서울특별시 서초구 서초동 남부순환로 2364,NaN,NaN,movie/concerthall
80,80,롯데시네마 에비뉴엘(명동),"서울특별시 중구 소공동 에비뉴엘 6층, 7층",NaN,NaN,movie/concerthall
81,81,롯데시네마 피카디리,서울특별시 종로구 돈화문로 134-2,NaN,NaN,movie/concerthall
205,205,코엑스 아티움(SM타운),서울특별시 강남구 삼성1동 무역센터 코엑스(COEX),NaN,NaN,movie/concerthall
214,214,한전아트센터,서울특별시 서초구 쑥고개길 34 (서초 2동 1355) 한전아트센터,NaN,NaN,movie/concerthall
242,14,LG전자 길동사거리점,서울특별시 강동구 천호대로 113,NaN,NaN,shopping/mart
311,83,아웃백스테이크하우스 남영점,서울특별시 중구 한강대로 270,NaN,NaN,shopping/mart

In [43]:
yj_joongbok.sort_values(["lat",'lon'],).head(10)

,id,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2261,468,동일여자고등학교,서울특별시 금천구 탑골로10길 45,37.4515331,126.9175391,education/Childcare
2262,469,동일여자전산디자인고등학교,서울특별시 금천구 탑골로10길 45,37.4515331,126.9175391,education/Childcare
2674,881,서울대 사법대학 간이식당,서울특별시 관악구 관악로 1,37.464007,126.9522394,education/Childcare
2675,882,서울대공학관,서울특별시 관악구 관악로 1,37.464007,126.9522394,education/Childcare
2676,883,서울대근대법학교육144주년기념관,서울특별시 관악구 관악로 1,37.464007,126.9522394,education/Childcare
2677,884,서울대대림국제관,서울특별시 관악구 관악로 1,37.464007,126.9522394,education/Childcare
2678,885,서울대대학원연구동(3동),서울특별시 관악구 관악로 1,37.464007,126.9522394,education/Childcare
2679,886,서울대법학강의동,서울특별시 관악구 관악로 1,37.464007,126.9522394,education/Childcare

In [45]:
main_place[main_place.place_name.str.contains('^문일')]

,Unnamed: 0,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [46]:
main_place.dropna(inplace=True) # drop NA

In [47]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4739 entries, 0 to 4855
Data columns (total 6 columns):
Unnamed: 0       4739 non-null int64
place_name       4739 non-null object
place_address    4739 non-null object
lat              4739 non-null object
lon              4739 non-null object
category         4739 non-null object
dtypes: int64(1), object(5)
memory usage: 259.2+ KB

In [48]:
main_place.drop_duplicates(subset=['lat','lon'],inplace=True) # lat , lon 의 중복제거

In [56]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
id               4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null float64
lon              4446 non-null float64
category         4446 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 243.1+ KB

In [50]:
#형변환
main_place['lat']=main_place['lat'].astype(float)
main_place['lon']=main_place['lon'].astype(float)

In [57]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
id               4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null float64
lon              4446 non-null float64
category         4446 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 243.1+ KB

In [52]:
yj_joongbok[yj_joongbok["place_address"] == "서울특별시 금천구 시흥대로47길 45"]

,id,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [54]:
main_place.columns

Index(['Unnamed: 0', 'place_name', 'place_address', 'lat', 'lon', 'category'], dtype='object')

In [58]:
yjs = main_place[['id','lat','lon','place_name','place_address']]

In [60]:
yjs.head(10)

,id,lat,lon,place_name,place_address
0,0,37.583269,127.002443,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37
1,1,37.523930,127.025143,BBC씨어터,서울특별시 강남구 신사동 568-2
2,2,37.568835,126.988123,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1
3,3,37.549100,126.922860,BYRDS(버즈),서울특별시 마포구 와우산로 51
4,4,37.554833,126.923213,Between the Bars,서울특별시 마포구 어울마당로 114
5,5,37.501621,127.026391,CGV 강남,서울특별시 강남구 역삼동 814-6 스타플렉스 4-11층
6,6,37.563424,126.982920,CGV 명동,서울특별시 중구 명동2가 83-5 눈스퀘어 8층
7,7,37.569951,126.899029,CGV 상암,서울특별시 마포구 월드컵로 240
8,8,37.478738,127.121117,CGV 송파,서울특별시 송파구 문정동 294 가든파이브 라이프 YOUNG관 10층
9,9,37.528452,127.125378,CGV강변,서울특별시 강동구 성내로 48

In [61]:
yjs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 5 columns):
id               4446 non-null int64
lat              4446 non-null float64
lon              4446 non-null float64
place_name       4446 non-null object
place_address    4446 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 208.4+ KB

In [62]:
hjs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16687 entries, 0 to 19290
Data columns (total 5 columns):
id               16687 non-null int64
lat              16687 non-null float64
lon              16687 non-null float64
place_name       16687 non-null object
place_address    16687 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 782.2+ KB

# 합치자ㅡ

In [64]:
zzang = yjs.append(hjs)

In [65]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21133 entries, 0 to 19290
Data columns (total 5 columns):
id               21133 non-null int64
lat              21133 non-null float64
lon              21133 non-null float64
place_name       21133 non-null object
place_address    21133 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 990.6+ KB

In [66]:
zzang

,id,lat,lon,place_name,place_address
0,0,37.583269,127.002443,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37
1,1,37.523930,127.025143,BBC씨어터,서울특별시 강남구 신사동 568-2
2,2,37.568835,126.988123,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1
3,3,37.549100,126.922860,BYRDS(버즈),서울특별시 마포구 와우산로 51
4,4,37.554833,126.923213,Between the Bars,서울특별시 마포구 어울마당로 114
5,5,37.501621,127.026391,CGV 강남,서울특별시 강남구 역삼동 814-6 스타플렉스 4-11층
6,6,37.563424,126.982920,CGV 명동,서울특별시 중구 명동2가 83-5 눈스퀘어 8층
7,7,37.569951,126.899029,CGV 상암,서울특별시 마포구 월드컵로 240
8,8,37.478738,127.121117,CGV 송파,서울특별시 송파구 문정동 294 가든파이브 라이프 YOUNG관 10층
9,9,37.528452,127.125378,CGV강변,서울특별시 강동구 성내로 48
10,10,37.501177,126.882847,CGV구로,서울특별시 구로구 구로중앙로 152
11,11,37.555810,127.078365,CGV군자,서울특별시 광진구 능동로 289
12,12,37.570651,126.972992,CGV대학로,서울특별시 종로구 새문안로 75
13,13,37.526592,126.874452,CGV목동,서울특별시 양천구 목동동로 257
14,14,37.609740,126.928968,CGV불광,서울특별시 은평구 불광로 20
15,15,37.556540,126.940294,CGV신촌아트레온,서울특별시 서대문구 신촌로 129
16,16,37.517052,126.903333,CGV신한카드아트홀(구 CGV팝아트홀),서울특별시 영등포구 영등포동 4가 442번지 타임스퀘어내 CGV팝아트홀 7층
17,17,37.524366,127.029416,CGV압구정,서울특별시 강남구 압구정로30길 45
18,18,37.529261,126.924906,CGV영등포,서울특별시 영등포구 여의공원로 101
19,19,37.525151,127.052000,CLUB ANSWER,서울특별시 강남구 청담동 125-16
20,20,37.499552,127.026308,CLUB mASS,서울특별시 서초구 서초4동 1306-8번지 대동빌딩 B1
21,21,37.501549,127.037318,GS타워 소극장,서울특별시 강남구 역삼1동 679-1 GS타워 25층
22,22,37.504322,127.003538,JW 메리어트호텔 그랜드볼룸,서울특별시 서초구 반포동 19-3 메리어트호텔
23,23,37.501992,127.037352,LG아트센터,서울특별시 강남구 논현로 508
24,24,37.499205,127.030267,LIG아트홀,서울특별시 강남구 테헤란로 117
25,25,37.499200,127.030284,LIG아트홀(강남),서울특별시 강남구 역삼동 649-11 LIG타워 LIG아트홀
26,26,37.523893,127.039645,OTM청담아트홀 (구KS청담홀),서울특별시 강남구 청담동 86번지 I 빌딩 3층
28,28,37.516262,127.020648,강남 동양아트홀,서울특별시 강남구 논현동 1-3 렉스타워 지하 1층
29,29,37.568163,126.969971,강북 정동 난타 전용관,서울특별시 중구 정동 22번지 경향신문사 건물 1층
30,30,37.543888,127.075955,건국대학교 국제회의장,서울특별시 광진구 능동로 120 (화양동)
...,...,...,...,...,...
19256,19257,37.536414,126.851459,힐타운,서울특별시 강서구 강서로18아길 25-4
19257,19258,37.598980,127.103890,힐탑Ⅱ,서울특별시 중랑구 망우로74길 33
19258,19259,37.524494,127.044427,힐탑빌딩,서울특별시 강남구 도산대로67길 1
19259,19260,37.540777,126.966480,힐탑빌라,서울특별시 용산구 백범로77길 61-
19260,19261,37.585304,126.937825,힐탑아파트,서울특별시 서대문구 송죽길 57-4
19261,19262,37.544843,126.847690,힐탑아파트,서울특별시 강서구 까치산로14길 26-13
19262,19263,37.476411,126.904080,힐탑아파트,서울특별시 금천구 문성로 3
19263,19264,37.477200,126.907982,힐탑아파트3차,서울특별시 금천구 문성로3길 64
19264,19265,37.477510,126.908493,힐탑아파트 4차,서울특별시 금천구 문성로3길 74
19265,19266,37.509841,127.030027,힐탑 오피스빌,서울특별시 강남구 논현로121길 33
19266,19267,37.527366,126.850183,힐탑이루미,서울특별시 양천구 은행정로17길 84
19268,19269,37.549393,126.978395,힐튼빌리지2차,서울특별시 용산구 후암로16나길 23
19269,19270,37.466068,126.891741,힐튼쉐어하우스A동,서울특별시 금천구 범안로12길 2-24
19273,19274,37.591566,126.934880,힐튼타운,서울특별시 서대문구 연희로41길 63
19274,19275,37.555455,126.975500,힐튼호텔,서울특별시 중구 소월로 54
19275,19276,37.608707,127.048006,힐하우스,서울특별시 성북구 장월로 26-14
19276,19277,37.493616,127.001117,힐하우스,서울특별시 서초구 동광로46길 7-15
19277,19278,37.448805,126.900761,힐하우스,서울특별시 금천구 시흥대로45길 23
19279,19280,37.585748,127.065921,힐하우스,서울특별시 동대문구 한천로53길 45
19280,19281,37.551479,126.832775,힐하우스,서울특별시 강서구 강서로47라길 37
19281,19282,37.535256,126.826901,힐하우스,서울특별시 양천구 가로공원로56길 37-2
19282,19283,37.600347,126.910721,힐하우스,서울특별시 은평구 갈현로2길 2-8
19283,19284,37.504880,127.022067,힐하우스,서울특별시 서초구 사평대로53길 8
19284,19285,37.584709,127.037135,힐하우스,서울특별시 동대문구 약령서길 147
19285,19286,37.597393,127.012773,힐하우스(16세대),서울특별시 성북구 아리랑로7길 28-1
19286,19287,37.504637,127.042199,힐 헤븐,서울특별시 강남구 언주로 514
19287,19288,37.511869,127.017672,힘멜에듀센터,서울특별시 서초구 신반포로43길 42
19288,19289,37.604771,126.923857,힘찬병원,서울특별시 은평구 서오릉로 45
19289,19290,37.559192,126.840671,힘찬병원,서울특별시 강서구 강서로56길 38
19290,19291,37.463629,127.034580,伯林빌딩,서울특별시 서초구 매헌로 31-3

----------------------

# 중복제거 로직 만들기

In [307]:
ff = zzang.drop_duplicates(subset = ['place_address'])

In [312]:
good2 = ff[ff.duplicated(subset=['place_name'],keep=False)]

In [313]:
type(good2)

pandas.core.frame.DataFrame

In [314]:
good2.sort_values(["place_name"])

          id        lat         lon place_name              place_address
14        15  37.488412  126.942419      (주)성강  서울특별시 관악구 국회단지10길16 (봉천동)
15        16  37.488401  126.941700      (주)성강    서울특별시 관악구 국회단지8길7 (봉천동)
32        33  37.453730  126.907174          -        서울특별시 금천구 독산로22길 15
31        32  37.464426  126.906836          -       서울특별시 금천구 독산로58가길 56
52        53  37.610897  127.030561  21세기 연세학원           서울특별시 강북구 도봉로 18
1804      11  37.625614  127.026028  21세기 연세학원          서울특별시 강북구 도봉로 189
498        0  37.485265  127.015681     21세기병원        서울특별시 서초구 서초중앙로  39
51        52  37.482579  127.017294     21세기병원         서울특별시 서초구 서초중앙로  3
71        72  37.527475  127.033962    A+ 치과병원          서울특별시 강남구 언주로 864
499        1  37.527247  127.033906    A+ 치과병원          서울특별시 강남구 언주로 860
3953       6  37.528220  126.875005     CBS방송국       서울특별시 양천구 목동서로 159-1
113      114  37.537463  126.884007     CBS방송국        서울특별시 양천구 목동서로 15-1
3955       8  37.512978  126.937012  CTS기독교방송국         서울특별시 동작구 노량진로 100
128      129  37.513424  126.941866  CTS기독교방송국         서울특별시 동작구 노량진로 144
185      186  37.585216  126.912668       GS빌라        서울특별시 서대문구 불광천길 254
186      187  37.581801  126.915312       GS빌라       서울특별시 서대문구 증가로26길 17
203      204  37.578111  127.060983       HK마트        서울특별시 동대문구 사가정로 144
235        7  37.576736  127.057141       HK마트        서울특별시 동대문구 사가정로 104
3960      13  37.478964  126.886106     IT미래타워       서울특별시 금천구 디지털로9길  33
226      227  37.478922  126.886029     IT미래타워        서울특별시 금천구 디지털로9길 33
261      262  37.496673  126.838013       J팰리스     서울특별시 구로구 경인로15길 54-14
262      263  37.496755  126.837235       J팰리스     서울특별시 구로구 경인로15길 74-22
3965      18  37.542766  127.063287      K-2타워     서울특별시 성동구 성수이로22길   60
267      268  37.542754  127.063271      K-2타워     서울특별시 성동구 성수이로22길   64
275      276  37.655770  126.949303         K2      서울특별시 은평구 대서문길  43-11
274      275  37.449693  126.902008         K2        서울특별시 금천구 시흥대로  177
276      277  37.464692  127.034865    KAGE영재원          서울특별시 서초구 매헌로8길 3
1811      18  37.465656  127.035698    KAGE영재원         서울특별시 서초구 매헌로8길 39
286      287  37.555182  126.966107    KCC파크타운          서울특별시 중구 만리재로 185
285      286  37.529558  126.921259    KCC파크타운      서울특별시 영등포구 국회대로72길 17
...      ...        ...         ...        ...                        ...
19162  19163  37.587506  127.061878      휘경중학교      서울특별시 동대문구 망우로18나길 24
19168  19169  37.563400  127.071701     휘봉초등학교       서울특별시 동대문구 장안벚꽃로  34
3941    2148  37.586385  127.070226     휘봉초등학교      서울특별시 동대문구 장안벚꽃로  309
19176  19177  37.521891  127.022520      휴게음식점       서울특별시 강남구 압구정로12길 32
19174  19175  37.513980  126.943359      휴게음식점         서울특별시 동작구 노량진로 157
19173  19174  37.478798  127.046535      휴게음식점          서울특별시 강남구 개포로 217
19172  19173  37.509818  127.023064      휴게음식점      서울특별시 강남구 강남대로128길 14
19182  19183  37.482581  126.883481        휴먼빌       서울특별시 금천구 벚꽃로42길  13
19183  19184  37.563600  126.852026        휴먼빌      서울특별시 강서구 양천로57길  -13
19201  19202  37.505851  126.969151   흑석2동치안센터        서울특별시 동작구 현충로 144-1
1773     853  37.505999  126.968825   흑석2동치안센터        서울특별시 동작구 현충로 140-1
4852     905  37.502994  126.962740   흑석제일감리교회       서울특별시 동작구 서달로10나길 21
19206  19207  37.507194  126.963274   흑석제일감리교회       서울특별시 동작구 서달로14나길 21
19254  19255  37.500598  127.104025        힐타운      서울특별시 송파구 가락로11길 5-16
19255  19256  37.551424  127.005713        힐타운        서울특별시 중구 동호로11자길 11
19256  19257  37.536414  126.851459        힐타운     서울특별시 강서구 강서로18아길 25-4
19260  19261  37.585304  126.937825      힐탑아파트        서울특별시 서대문구 송죽길 57-4
19261  19262  37.544843  126.847690      힐탑아파트    서울특별시 강서구 까치산로14길 26-13
19262  19263  37.476411  126.904080      힐탑아파트            서울특별시 금천구 문성로 3
19280  19281  37.551479  126.832775       힐하우스       서울특별시 강서구 강서로47라길 37
19281  19282  37.535256  126.826901       힐하우스    서울특별시 양천구 가로공원로56길 37-2
19282  19283  37.600347  126.910721       힐하우스       서울특별시 은평구 갈현로2길  2-8
19279  19280  37.585748  127.065921       힐하우스      서울특별시 동대문구 한천로53길  45
19283  19284  37.504880  127.022067       힐하우스        서울특별시 서초구 사평대로53길 8
19276  19277  37.493616  127.001117       힐하우스      서울특별시 서초구 동광로46길 7-15
19275  19276  37.608707  127.048006       힐하우스       서울특별시 성북구 장월로  26-14
19277  19278  37.448805  126.900761       힐하우스       서울특별시 금천구 시흥대로45길 23
19284  19285  37.584709  127.037135       힐하우스        서울특별시 동대문구 약령서길 147
919      421  37.604770  126.923840       힘찬병원         서울특별시 은평구 서오릉로  45
918      420  37.559203  126.840685       힘찬병원       서울특별시 강서구 강서로56길  38

[5086 rows x 5 columns]

In [285]:
hjs[hjs.id==3044]

        id        lat         lon          place_name        place_address
3043  3044  37.500825  127.026825  그린 컴퓨터 아트 학원(만이빌딩)  서울특별시 강남구 강남대로  428

In [ ]:
yjs[yjs.id==223]