In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('disabled_facilities.db')

cur = conn.cursor()

result = cur.execute("select * from facilities")

In [3]:
hj = pd.read_sql_query("SELECT * FROM facilities", conn)  #19291

In [4]:
hj_another_tb = pd.read_sql_query("SELECT * FROM facilities_detail", conn)  #19291

In [5]:
hj.head()

,id,faclInfId,faclLat,faclLng,faclNm,faclTyCd,lcMnad,wfcltId,evalInfo
0,935,20140610062,37.562726,127.032570,(구)왕십리클리닉빌딩,UC0K02,서울특별시 성동구 왕십리로 333,0000073296,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
1,937,20140762484,37.573937,126.983187,(재)대한불교계종유지재단,UC0A01,서울특별시 종로구 우정국로 56,0000000002,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
2,938,20140512111,37.485282,126.931355,(주)관전인베스트먼트,UC0L02,서울특별시 관악구 신림로64길29 (신림동),0000142761,"객실 및 침실,계단 또는 승강설비,대변기,복도,세면대,소변기,일반사항,장애인전용주차..."
3,939,20140758598,37.490768,126.982048,(주)대광메디텍,UC0A01,서울특별시 동작구 동작대로35길 5,0000000229,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4,941,20140609927,37.544932,126.910696,(주)동아일보사,UC0K02,서울특별시 마포구 토정로 1,0000073146,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."

In [6]:
hj_another_tb.head(20)

    id     facility_available_name  facility_id
0    1      계단 또는 승강설비_(구)왕십리클리닉빌딩          935
1    2             대변기_(구)왕십리클리닉빌딩          935
2    3       장애인전용주차구역_(구)왕십리클리닉빌딩          935
3    4    주출입구 높이차이 제거_(구)왕십리클리닉빌딩          935
4    5        주출입구 접근로_(구)왕십리클리닉빌딩          935
5    6          출입구(문)_(구)왕십리클리닉빌딩          935
6    7         해당시설 층수_(구)왕십리클리닉빌딩          935
7    8  주출입구 높이차이 제거_(재)대한불교계종유지재단          937
8    9      주출입구 접근로_(재)대한불교계종유지재단          937
9   10        출입구(문)_(재)대한불교계종유지재단          937
10  11         객실 및 침실_(주)관전인베스트먼트          938
11  12      계단 또는 승강설비_(주)관전인베스트먼트          938
12  13             대변기_(주)관전인베스트먼트          938
13  14              복도_(주)관전인베스트먼트          938
14  15             세면대_(주)관전인베스트먼트          938
15  16             소변기_(주)관전인베스트먼트          938
16  17            일반사항_(주)관전인베스트먼트          938
17  18       장애인전용주차구역_(주)관전인베스트먼트          938
18  19    주출입구 높이차이 제거_(주)관전인베스트먼트          938
19  20        주출입구 접근로_(주)관전인베스트먼트          938

In [7]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10431 entries, 0 to 10430
Data columns (total 9 columns):
id           10431 non-null int64
faclInfId    10431 non-null int64
faclLat      10431 non-null float64
faclLng      10431 non-null float64
faclNm       10431 non-null object
faclTyCd     10431 non-null object
lcMnad       10431 non-null object
wfcltId      10431 non-null object
evalInfo     10431 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 733.5+ KB

In [8]:
hj.describe()

                 id     faclInfId       faclLat       faclLng
count  10431.000000  1.043100e+04  10431.000000  10431.000000
mean   10159.775093  2.011368e+10     37.545611    126.991178
std     5278.470019  7.374023e+08      0.051872      0.084824
min      935.000000  3.906000e+03     37.434986    126.795628
25%     5830.500000  2.014061e+10     37.502745    126.920837
50%    10222.000000  2.014075e+10     37.541449    127.008870
75%    14609.500000  2.014076e+10     37.575051    127.054494
max    19291.000000  2.014076e+10     37.694840    127.178321

In [9]:
hj.rename(columns = {'faclLat':'lat','faclLng':'lon','faclTyCd':'category'}, inplace = True)
hj.rename(columns = {'faclNm' : 'place_name','lcMnad':'place_address','id':'place_id'}, inplace = True)

In [10]:
hj.columns

Index(['place_id', 'faclInfId', 'lat', 'lon', 'place_name', 'category',
       'place_address', 'wfcltId', 'evalInfo'],
      dtype='object')

In [11]:
hj.drop_duplicates(subset=['lat','lon'],inplace=True)

In [12]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9548 entries, 0 to 10430
Data columns (total 9 columns):
place_id         9548 non-null int64
faclInfId        9548 non-null int64
lat              9548 non-null float64
lon              9548 non-null float64
place_name       9548 non-null object
category         9548 non-null object
place_address    9548 non-null object
wfcltId          9548 non-null object
evalInfo         9548 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 745.9+ KB

In [13]:
# hj 데이터에 place_name - 이거인것들 다빼야함.

In [14]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9548 entries, 0 to 10430
Data columns (total 9 columns):
place_id         9548 non-null int64
faclInfId        9548 non-null int64
lat              9548 non-null float64
lon              9548 non-null float64
place_name       9548 non-null object
category         9548 non-null object
place_address    9548 non-null object
wfcltId          9548 non-null object
evalInfo         9548 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 745.9+ KB

In [15]:
hj.columns

Index(['place_id', 'faclInfId', 'lat', 'lon', 'place_name', 'category',
       'place_address', 'wfcltId', 'evalInfo'],
      dtype='object')

In [16]:
hjs = hj[['place_id','place_name','place_address','lat','lon','category']]

In [17]:
hjs.head()

,place_id,place_name,place_address,lat,lon,category
0,935,(구)왕십리클리닉빌딩,서울특별시 성동구 왕십리로 333,37.562726,127.032570,UC0K02
1,937,(재)대한불교계종유지재단,서울특별시 종로구 우정국로 56,37.573937,126.983187,UC0A01
2,938,(주)관전인베스트먼트,서울특별시 관악구 신림로64길29 (신림동),37.485282,126.931355,UC0L02
3,939,(주)대광메디텍,서울특별시 동작구 동작대로35길 5,37.490768,126.982048,UC0A01
4,941,(주)동아일보사,서울특별시 마포구 토정로 1,37.544932,126.910696,UC0K02

In [18]:
#df[['lat','lon','faclNm','evalInfo']][(df.lon>126.95300)&(df.lon<126.95330)]

-----

# 영준이 데이터

In [55]:
import sqlite3
import pandas as pd
import numpy as np

In [56]:
main_place =pd.read_csv("yj_main_dish_place/main_place.csv",dtype={'lat':str,'lon':str})
main_place[main_place.place_name.str.contains('문일')]

,Unnamed: 0,index,place_name,place_address,lat,lon,category,place_id
2391,2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare,2391
2392,2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare,2392

In [57]:
main_place.tail()

,Unnamed: 0,index,place_name,place_address,lat,lon,category,place_id
4851,4851,904,휘경문화웨딩원,서울특별시 동대문구 망우로 123,37.5917142,127.0666134,other,4851
4852,4852,905,흑석제일감리교회,서울특별시 동작구 서달로10나길 21,37.5029945,126.9627396,other,4852
4853,4853,906,흑석체육센터,서울특별시 동작구 현충로 73,37.5100514,126.9634913,other,4853
4854,4854,907,흥원사가양동법당,서울특별시 강서구 양천로49길 56-12,37.5719909,126.8404808,other,4854
4855,4855,908,흥황교회,서울특별시 구로구 천왕로1길 33,37.4817169,126.8361392,other,4855

In [58]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4856 entries, 0 to 4855
Data columns (total 8 columns):
Unnamed: 0       4856 non-null int64
index            4856 non-null int64
place_name       4856 non-null object
place_address    4856 non-null object
lat              4739 non-null object
lon              4739 non-null object
category         4856 non-null object
place_id         4856 non-null int64
dtypes: int64(3), object(5)
memory usage: 303.6+ KB

In [59]:
d = main_place.lat.str.contains("37.4491498",na=False)

In [60]:
main_place[d]

,Unnamed: 0,index,place_name,place_address,lat,lon,category,place_id
2391,2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare,2391
2392,2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare,2392

In [61]:
main_place = main_place[['place_id','place_name','place_address','lat','lon','category']]

In [62]:
main_place.columns

Index(['place_id', 'place_name', 'place_address', 'lat', 'lon', 'category'], dtype='object')

In [63]:
# tt = main_place[["lat","lon"]].duplicated(keep=False)
# yj_joongbok =main_place[tt] # 영준씨 중복된 데이터
# yj_joongbok.info()

In [64]:
#yj_joongbok[yj_joongbok.lat.isna()].head(10)

In [65]:
#yj_joongbok.sort_values(["lat",'lon'],).head(10)

In [66]:
main_place[main_place.place_name.str.contains('^문일')]

,place_id,place_name,place_address,lat,lon,category
2391,2391,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,2392,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [67]:
main_place.dropna(inplace=True) # drop NA

##### yjs 에 있던 lat ,lon 이 Nan 이었던 데이터들 모두 사라졌다. drop NA

In [68]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4739 entries, 0 to 4855
Data columns (total 6 columns):
place_id         4739 non-null int64
place_name       4739 non-null object
place_address    4739 non-null object
lat              4739 non-null object
lon              4739 non-null object
category         4739 non-null object
dtypes: int64(1), object(5)
memory usage: 259.2+ KB

In [69]:
main_place.drop_duplicates(subset=['lat','lon'],inplace=True) # lat , lon 의 중복제거

In [70]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
place_id         4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null object
lon              4446 non-null object
category         4446 non-null object
dtypes: int64(1), object(5)
memory usage: 243.1+ KB

In [71]:
#형변환
main_place['lat']=main_place['lat'].astype(float)
main_place['lon']=main_place['lon'].astype(float)

In [72]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
place_id         4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null float64
lon              4446 non-null float64
category         4446 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 243.1+ KB

In [73]:
main_place.columns

Index(['place_id', 'place_name', 'place_address', 'lat', 'lon', 'category'], dtype='object')

In [74]:
yjs = main_place

In [75]:
yjs.head(10)

,place_id,place_name,place_address,lat,lon,category
0,0,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall
1,1,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall
2,2,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall
3,3,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall
4,4,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall
5,5,CGV 강남,서울특별시 강남구 역삼동 814-6 스타플렉스 4-11층,37.501621,127.026391,movie/concerthall
6,6,CGV 명동,서울특별시 중구 명동2가 83-5 눈스퀘어 8층,37.563424,126.982920,movie/concerthall
7,7,CGV 상암,서울특별시 마포구 월드컵로 240,37.569951,126.899029,movie/concerthall
8,8,CGV 송파,서울특별시 송파구 문정동 294 가든파이브 라이프 YOUNG관 10층,37.478738,127.121117,movie/concerthall
9,9,CGV강변,서울특별시 강동구 성내로 48,37.528452,127.125378,movie/concerthall

In [76]:
yjs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
place_id         4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null float64
lon              4446 non-null float64
category         4446 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 243.1+ KB

In [77]:
hjs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9548 entries, 0 to 10430
Data columns (total 6 columns):
place_id         9548 non-null int64
place_name       9548 non-null object
place_address    9548 non-null object
lat              9548 non-null float64
lon              9548 non-null float64
category         9548 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 522.2+ KB

# 합치자ㅡ

In [78]:
zzang = yjs.append(hjs)

In [79]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13994 entries, 0 to 10430
Data columns (total 6 columns):
place_id         13994 non-null int64
place_name       13994 non-null object
place_address    13994 non-null object
lat              13994 non-null float64
lon              13994 non-null float64
category         13994 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 765.3+ KB

In [80]:
zzang.head()

,place_id,place_name,place_address,lat,lon,category
0,0,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall
1,1,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall
2,2,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall
3,3,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall
4,4,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall

----------------------

# 중복제거 로직 만들기

In [81]:
zzang[zzang.duplicated(subset=['lat','lon'],keep=False)]

Empty DataFrame
Columns: [place_id, place_name, place_address, lat, lon, category]
Index: []

In [82]:
zzang[zzang.duplicated(subset=['place_address'],keep=False)].sort_values('place_address').count()

place_id         6002
place_name       6002
place_address    6002
lat              6002
lon              6002
category         6002
dtype: int64

In [83]:
zzang[zzang.duplicated(subset=['place_name'],keep=False)].sort_values('place_name').count()  ##<< 당첨

place_id         8204
place_name       8204
place_address    8204
lat              8204
lon              8204
category         8204
dtype: int64

In [84]:
zzang[zzang.duplicated(subset=['place_name','place_address'],keep=False)].sort_values('place_name').count()

place_id         5296
place_name       5296
place_address    5296
lat              5296
lon              5296
category         5296
dtype: int64

In [85]:
zzang.drop_duplicates(subset=['place_name'],inplace=True)

In [86]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9586 entries, 0 to 10430
Data columns (total 6 columns):
place_id         9586 non-null int64
place_name       9586 non-null object
place_address    9586 non-null object
lat              9586 non-null float64
lon              9586 non-null float64
category         9586 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 524.2+ KB

In [87]:
zzang[zzang.place_name == '-'] # 이거 빼야함.

    place_id place_name         place_address        lat         lon category
20       966          -  서울특별시 금천구 독산로58가길 56  37.464426  126.906836   UC0H01

In [88]:
zzang[zzang.place_id == 966]

,place_id,place_name,place_address,lat,lon,category
966,966,개포4동 주민센터,서울특별시 강남구 개포로38길 12,37.478848,127.051636,publicinstitution
20,966,-,서울특별시 금천구 독산로58가길 56,37.464426,126.906836,UC0H01

In [89]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9586 entries, 0 to 10430
Data columns (total 6 columns):
place_id         9586 non-null int64
place_name       9586 non-null object
place_address    9586 non-null object
lat              9586 non-null float64
lon              9586 non-null float64
category         9586 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 524.2+ KB

In [90]:
zzang = zzang[zzang.place_address != '서울특별시 금천구 독산로58가길 56']

In [91]:
zzang.info() # 이름이 '-'인거 하나 뺌

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9585 entries, 0 to 10430
Data columns (total 6 columns):
place_id         9585 non-null int64
place_name       9585 non-null object
place_address    9585 non-null object
lat              9585 non-null float64
lon              9585 non-null float64
category         9585 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 524.2+ KB

In [92]:
zzang[zzang.place_name == '-'] # 빠짐.

Empty DataFrame
Columns: [place_id, place_name, place_address, lat, lon, category]
Index: []

In [93]:
zzang.head()

,place_id,place_name,place_address,lat,lon,category
0,0,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall
1,1,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall
2,2,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall
3,3,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall
4,4,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall

In [94]:
zzang[zzang.place_name.isnull()]

Empty DataFrame
Columns: [place_id, place_name, place_address, lat, lon, category]
Index: []

# toilets

In [95]:
jms_toilet = pd.read_csv('seoul_toilets.csv',usecols={'place_id','place_name','place_address','lat','lon','category'})

In [96]:
jms_toilet = jms_toilet[['place_id','place_name','place_address','lat','lon','category']]

In [97]:
jms_toilet.head()

,place_id,place_name,place_address,lat,lon,category
0,10331,남대문시장 화장실,서울특별시 중구 남창동 51-2,37.559433,126.976225,toilet/open
1,10332,광희동 화장실,서울특별시 중구 광희동1가 202-1,37.564371,127.006306,toilet/open
2,10333,신당 1호 화장실,서울특별시 중구 신당동 236-542,37.563819,127.013347,toilet/open
3,10334,신당 2호 화장실,서울특별시 중구 신당동 298-74,37.561325,127.013778,toilet/open
4,10335,청구역 화장실,서울특별시 중구 신당동 297-17,37.561317,127.013783,toilet/open

In [98]:
# name, lat 으로 중복하면안됨. name 은 이미 toilets 에 중복이있음( 대신 lat,lon 이 다름)

In [99]:
jms_toilet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 6 columns):
place_id         1117 non-null int64
place_name       1117 non-null object
place_address    1117 non-null object
lat              1117 non-null float64
lon              1117 non-null float64
category         1117 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 52.4+ KB

In [100]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9585 entries, 0 to 10430
Data columns (total 6 columns):
place_id         9585 non-null int64
place_name       9585 non-null object
place_address    9585 non-null object
lat              9585 non-null float64
lon              9585 non-null float64
category         9585 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 524.2+ KB

In [101]:
zzang = zzang.append(jms_toilet)

In [102]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10702 entries, 0 to 1116
Data columns (total 6 columns):
place_id         10702 non-null int64
place_name       10702 non-null object
place_address    10702 non-null object
lat              10702 non-null float64
lon              10702 non-null float64
category         10702 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 585.3+ KB

# Facilities

In [103]:
jms_facility = pd.read_csv('facility_cleansed.csv')

In [104]:
jms_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 7 columns):
Unnamed: 0       323 non-null int64
category         323 non-null object
place_name       323 non-null object
place_address    323 non-null object
lat              323 non-null float64
lon              323 non-null float64
place_id         323 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 17.7+ KB

In [105]:
jms_facility=jms_facility[['place_id','place_name','place_address','lat','lon','category']]

In [106]:
jms_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 6 columns):
place_id         323 non-null int64
place_name       323 non-null object
place_address    323 non-null object
lat              323 non-null float64
lon              323 non-null float64
category         323 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 15.2+ KB

In [107]:
jms_facility.head()

,place_id,place_name,place_address,lat,lon,category
0,10000,영락,중구 수표로 33 (저동2가 69),37.563202,126.989182,daycare
1,10001,역삼주간보호센터,강남구 테헤란로8길 36 (역삼동 827-61) 강남문화원 2층,37.496507,127.032048,daycare
2,10002,성민장애인복지관,노원구 노원로32길 30-3 (상계동 321-9),37.655624,127.069340,wellfare
3,10003,강서뇌성마비복지관,강서구 방화대로45길 69 (방화동 452-5),37.574198,126.812585,wellfare
4,10004,모랫말꿈터,영등포구 도영로 37 (도림2동 205-24),37.510186,126.897488,daycare

In [114]:
jms_facility[jms_facility.duplicated(subset=['lat','lon'],keep=False)].sort_values('lat')

,place_id,place_name,place_address,lat,lon,category
306,10314,성분도보호작업장,경기도 광주시 도척면 국사봉로 159-10 성분도보호작업장,37.316717,127.350671,education/job
64,10066,성분도복지관,경기 광주시 도척면 국사봉로 159-10,37.316717,127.350671,wellfare
10,10011,SRC재활체육관,경기 광주시 초월읍 경수길 25 (지월리729-6),37.420042,127.287143,sports/rehab
123,10126,SRC재활병원,경기 광주시 초월읍 경수길 25 (지월리 729-6),37.420042,127.287143,hospital/rehab
97,10099,다니엘주간보호센터,서초구 헌릉로468길 21-16 (내곡동 1-1328번지),37.460710,127.092001,daycare
270,10278,다니엘직업재활원(♠),서초구 헌릉로468길 21-16 다니엘직업재활원(♠),37.460710,127.092001,education/job
8,10009,성모자애제1주간보호,강남구 헌릉로757길 35 (율현동 110번지),37.470543,127.119435,daycare
128,10131,성모자애제2주간보호,강남구 헌릉로757길 35 (율현동 110번지),37.470543,127.119435,daycare
111,10114,성모자애복지관,강남구 헌릉로 757길 35 (율현동 100),37.470543,127.119435,wellfare
275,10283,성모자애 보호작업장,강남구 헌릉로757길 35 성모자애 보호작업장,37.470543,127.119435,education/job
314,10322,갑을장애인주간보호센터,서울특별시 관악구 난우16길 13-7 2층 갑을장애인주간보호시설,37.477711,126.917870,daycare
269,10277,갑을장애인 직업휴먼센터,관악구 난우16길 13-7 갑을장애인 직업휴먼센터,37.477711,126.917870,education/job
177,10182,햇살터,서울특별시 구로구 남부순환로105라길 25-10 3층,37.481318,126.890488,daycare
244,10252,성프란치스코장애인종합복지관,구로구 남부순환로105라길 25-10 (가리봉동 131-2),37.481318,126.890488,wellfare
252,10260,해나무일터,구로구 남부순환로 105라길 25-10 해나무일터,37.481318,126.890488,education/job
115,10118,서리풀,서초구 남부순환로340길 15 (서초동 380) (한우리정보문화센터내),37.482062,127.025012,daycare
274,10282,한우리보호작업장,서초구 남부순환로 340길 15 한우리보호작업장,37.482062,127.025012,education/job
13,10014,마라주간보호,송파구 송이로34길 43-1 (문정동 93-4),37.484527,127.128872,daycare
291,10299,마라보호작업장,송파구 송이로34길 43-1 (문정동) 마라보호작업장,37.484527,127.128872,education/job
279,10287,밀알베이커리,강남구 광평로 60길 22 밀알베이커리,37.486981,127.106963,education/job
278,10286,우리플러스작업장,강남구 광평로60길 22 우리플러스작업장,37.486981,127.106963,education/job
100,10102,한우리,강남구 광평로60길 22 (수서동 721),37.486981,127.106963,daycare
281,10289,밀알보호작업장,"강남구 광평로 60길, 22/ 201호 밀알보호작업장",37.486981,127.106963,education/job
138,10142,하상장애인복지관,강남구 개포로 613 (개포동 12-5),37.492533,127.075128,wellfare
7,10008,하상,강남구 개포로 613 (개포동 12-5),37.492533,127.075128,daycare
264,10272,서울남부 보호작업장,동작구 여의대방로20길 33 서울남부 보호작업장,37.494896,126.919452,education/job
5,10005,서울남부주간보호센터,동작구 여의대방로 20길 33 (신대방2동 395번지),37.494896,126.919452,daycare
107,10109,서울시립지적장애인복지관,서울특별시 동작구 여의대방로20길 33 보라매공원 내 서울시립지적장애인복지관,37.494896,126.919452,wellfare
78,10080,서울시립지적장애인복지관 주간보호시설,동작구 여의대방로 20길 33 보라매공원내,37.494896,126.919452,daycare
178,10183,서울시립남부장애인종합복지관,서울특별시 동작구 여의대방로20길 33 (보라매공원 내),37.494896,126.919452,wellfare
...,...,...,...,...,...,...
167,10172,푸르메스포츠센터,서울특별시 마포구 월드컵북로 494 푸르메스포츠센터,37.584647,126.880520,sports/rehab
236,10244,마포구푸르메 직업재활센터,마포구 월드컵북로 494(상암동) 마포구푸르메 직업재활센터,37.584647,126.880520,education/job
317,10325,원광장애인종합복지관,중랑구 신내로 56 (신내동 572-2),37.604429,127.095964,wellfare
195,10201,원광보호작업장,중랑구 신내로56 원광보호작업장,37.604429,127.095964,education/job
47,10049,서부장애인종합복지관,은평구 갈현로11길 30 (구산동 191-1),37.605173,126.907545,daycare
93,10095,서부장애인복지관,서울특별시 은평구 갈현로11길 30 서부장애인복지관,37.605173,126.907545,wellfare
163,10168,서울재활병원,서울특별시 은평구 갈현로11길 30 서울재활병원,37.605173,126.907545,hospital/rehab
145,10149,서부재활체육센터,은평구 갈현로11길 30 (구산동 191-1),37.605173,126.907545,sports/rehab
225,10233,은평보호작업장,은평구 갈현로 11길 30 (구산동) 은평보호작업장,37.605173,126.907545,education/job
224,10232,누야하우스,은평구 갈현로 11길30(구산동) 누야하우스,37.605173,126.907545,education/job
34,10036,다운,노원구 화랑로 478 (공릉동 656-3) 다운복지관 내,37.618946,127.080329,daycare
118,10121,다운복지관,노원구 화랑로 478 (공릉동 656-3),37.618946,127.080329,wellfare
205,10212,번동보호작업장,"강북구 한천로 115길 20, 501동 (번동, 주공) 번동보호작업장",37.633321,127.035744,education/job
204,10210,번동코이노니아 장애인보호작업시설,"강북구 한천로 115길 20, 501동 (번동, 주공) 번동코이노니아 장애인보호작업시설",37.633321,127.035744,education/job
61,10063,참사랑너나울,서울특별시 강북구 한천로143길 39 1층,37.640482,127.023159,daycare
65,10067,참사랑너나울 2호,서울특별시 강북구 한천로143길 39 2층,37.640482,127.023159,daycare
40,10042,오뚜기뇌성마비,노원구 덕릉로70가길 96 (상계동 771) 뇌성마비복지관 내,37.642445,127.056604,daycare
69,10071,시립뇌성마비복지관,노원구 덕릉로70가길 96 (상계6.7동 771),37.642445,127.056604,wellfare
213,10220,북부장애인 직업재활시설,노원구덕릉로70가길 92(상계동) 북부장애인 직업재활시설,37.642539,127.056990,education/job
35,10037,섬김주간보호센터,노원구 덕릉로70가길 92 (상계동 771) 북부장애인종합복지관 내,37.642539,127.056990,daycare
15,10016,서울시립북부장애인종합복지관,노원구 덕릉로70가길 92 (상계동 771),37.642539,127.056990,wellfare
216,10223,동천,노원구노원로 18길 41(하계동) 동천,37.644578,127.072873,education/job
46,10048,동천,노원구 노원로18길 41 (하계1동 288-1),37.644578,127.072873,daycare
144,10148,동천재활체육센터,노원구 노원로18길 41 (하계동 288-1) 동천재활체육센터,37.644578,127.072873,sports/rehab
38,10040,가브리엘 주간보호센터,서울특별시 노원구 한글비석로24라길 94-13 가브리엘주간보호센터,37.666459,127.069779,daycare
210,10217,가브리엘 보호작업시설,노원구 한글비석로 24라길 94-13 가브리엘 보호작업시설,37.666459,127.069779,education/job
209,10216,굿윌스토어,도봉구 마들로 664-17 굿윌스토어,37.669556,127.047478,education/job
207,10214,도봉장애인 보호작업시설,도봉구 마들로 664-17 2층 도봉장애인 보호작업시설,37.669556,127.047478,education/job
110,10113,주간보호시설 인강원,도봉구 평화로15번길 9-25 (도봉동 381-1),37.694797,127.042399,daycare
208,10215,인강원,도봉구 평화로15번길 9-25(도봉동) 인강원,37.694797,127.042399,education/job

In [108]:
import warnings
warnings.filterwarnings('ignore')

In [109]:
zzang = zzang.append(jms_facility) # 나중에 에러가 될수있으니 유의!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [110]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11025 entries, 0 to 322
Data columns (total 6 columns):
place_id         11025 non-null int64
place_name       11025 non-null object
place_address    11025 non-null object
lat              11025 non-null float64
lon              11025 non-null float64
category         11025 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 602.9+ KB

In [115]:
zzang[zzang.duplicated(subset=['place_address'],keep=False)].sort_values('place_address')

,place_id,place_name,place_address,lat,lon,category
138,10142,하상장애인복지관,강남구 개포로 613 (개포동 12-5),37.492533,127.075128,wellfare
7,10008,하상,강남구 개포로 613 (개포동 12-5),37.492533,127.075128,daycare
128,10131,성모자애제2주간보호,강남구 헌릉로757길 35 (율현동 110번지),37.470543,127.119435,daycare
8,10009,성모자애제1주간보호,강남구 헌릉로757길 35 (율현동 110번지),37.470543,127.119435,daycare
201,10207,기쁜우리재활체육센터,강서구 허준로 65 (가양동 1466),37.569363,126.848779,sports/rehab
48,10050,기쁜우리,강서구 허준로 65 (가양동 1466),37.569363,126.848779,daycare
1872,1872,개포 고등학교,서울특별시 강남구 개포로 402,37.485056,127.059295,education/Childcare
768,2017,개포고등학교,서울특별시 강남구 개포로 402,37.484959,127.059405,UC0G05
341,1398,SH공사,서울특별시 강남구 개포로 621,37.494130,127.078781,UC0K01
920,920,LH서울지역본부,서울특별시 강남구 개포로 621,37.494133,127.078815,publicinstitution
2251,5149,대진공원,서울특별시 강남구 개포로109길 62,37.496055,127.078855,UC0T01
4004,4004,강남구민체육관,서울특별시 강남구 개포로109길 62,37.496075,127.078815,other
3272,3272,예은 몬테소리 어린이집,서울특별시 강남구 광평로 144,37.483607,127.088821,education/Childcare
5593,10891,수서 2 공원,서울특별시 강남구 광평로 144,37.483592,127.088792,UC0T01
5596,10894,수서동성당,서울특별시 강남구 광평로 199,37.484687,127.094845,UC0D01
4716,4716,천주교수서동성당,서울특별시 강남구 광평로 199,37.484721,127.094872,other
1596,1596,일원본동 우체국,서울특별시 강남구 광평로20길 8,37.483103,127.086541,publicinstitution
4866,9733,서울일원본동우체국,서울특별시 강남구 광평로20길 8,37.483090,127.086517,UC0A05
9472,17526,하늘빌딩,서울특별시 강남구 남부순환로 2609,37.484961,127.035096,UC0F02
570,570,김&송 유나이티드 성형외과(하늘빌딩),서울특별시 강남구 남부순환로 2609,37.484963,127.035114,hospital
2942,2942,숙명 여자 고등학교,서울특별시 강남구 남부순환로 2807,37.490395,127.052304,education/Childcare
5647,10972,숙명여자고등학교,서울특별시 강남구 남부순환로 2807,37.491474,127.052612,UC0G05
565,1760,강남메가스터디학원,서울특별시 강남구 남부순환로 2942,37.493647,127.062321,UC0G08
3517,3517,정보학원(동호빌딩),서울특별시 강남구 남부순환로 2942,37.493649,127.062308,education/Childcare
2152,2152,대곡초등학교,서울특별시 강남구 남부순환로 3022,37.494630,127.064853,education/Childcare
4615,9476,서울대곡초등학교,서울특별시 강남구 남부순환로 3022,37.494712,127.065026,UC0G03
1352,2898,국민은행한티역점,서울특별시 강남구 도곡로 414,37.496792,127.055932,UC0K02
1777,1777,W저축은행,서울특별시 강남구 도곡로 414,37.496796,127.055933,bank
3752,8013,베스티안 서울병원,서울특별시 강남구 도곡로 429,37.498032,127.057199,UC0F02
660,660,베스티안 병원,서울특별시 강남구 도곡로 429,37.498027,127.057304,hospital
...,...,...,...,...,...,...
3692,3692,카톨릭대학교,서울특별시 종로구 창경궁로 296-12,37.585976,127.004356,education/Childcare
517,1666,가톨릭대학교 성신교정,서울특별시 종로구 창경궁로 296-12,37.584902,127.004769,UC0G07
3577,3577,중앙중학교,서울특별시 종로구 창덕궁길 164,37.584027,126.986877,education/Childcare
8515,15757,중앙고등학교,서울특별시 종로구 창덕궁길 164,37.583788,126.987474,UC0G05
4612,9473,서울농학교,서울특별시 종로구 필운대로 103,37.585644,126.968774,UC0G01
2002,2002,국립서울농학교,서울특별시 종로구 필운대로 103,37.584867,126.968684,education/Childcare
10078,18718,혜화동 주민센터,서울특별시 종로구 혜화로 12,37.586855,127.000566,UC0A03
1733,1733,혜화 우체국,서울특별시 종로구 혜화로 12,37.586919,127.000576,publicinstitution
5958,11487,신당1동주민센터,서울특별시 중구 다산로 211,37.562109,127.014537,UC0A03
1428,1428,신당3동주민센터,서울특별시 중구 다산로 211,37.562127,127.014551,publicinstitution
5968,11497,신당제3동주민센터 민원,서울특별시 중구 다산로 92,37.552473,127.008995,UC0A03
1429,1429,신당4동주민센터,서울특별시 중구 다산로 92,37.552466,127.009010,publicinstitution
2730,6075,동화동주민센터,서울특별시 중구 다산로36길 100,37.559982,127.019422,UC0K01
1431,1431,신당6동사무소,서울특별시 중구 다산로36길 100,37.559985,127.019433,publicinstitution
1791,1791,우리은행을지로지점,서울특별시 중구 세종대로 66,37.562156,126.976666,bank
3483,7559,미시간모텔,서울특별시 중구 세종대로 66,37.562144,126.976653,UC0L01
62,62,대한극장,서울특별시 중구 청파로 463,37.559879,126.967104,movie/concerthall
9614,17765,한국경제신문사옥,서울특별시 중구 청파로 463,37.559868,126.967110,UC0B02
7755,14499,을지로동주민센터,서울특별시 중구 충무로9길 19,37.566698,126.991352,UC0K01
1573,1573,을지로동사무소,서울특별시 중구 충무로9길 19,37.566694,126.991337,publicinstitution
961,11292,시청(1) 화장실,서울특별시 중구 태평로1가 31,37.565682,126.976849,toilet/open
2728,2728,서울시도서관 (옛 서울청사),서울특별시 중구 태평로1가 31,37.566584,126.978236,education/Childcare
6393,12234,아이사랑어린이집,서울특별시 중랑구 동일로154길 7-7,37.609322,127.078436,UC0H01
3089,3089,아이사랑어린이집,서울특별시 중랑구 동일로154길 7-7,37.609326,127.078444,education/Childcare
4785,4785,한국SGI,서울특별시 중랑구 망우로60길 23,37.597654,127.095124,other
9602,17753,한국 SGI 동서울행복문화회관,서울특별시 중랑구 망우로60길 23,37.597643,127.095115,UC0D01
323,323,이마트 상봉점,서울특별시 중랑구 상봉로 118,37.596491,127.093618,shopping/mart
7815,14598,이마트상봉점,서울특별시 중랑구 상봉로 118,37.596466,127.093609,UC0E01
145,10149,서부재활체육센터,은평구 갈현로11길 30 (구산동 191-1),37.605173,126.907545,sports/rehab
47,10049,서부장애인종합복지관,은평구 갈현로11길 30 (구산동 191-1),37.605173,126.907545,daycare